<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CasparsPlayoutClient.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Dieser Abschnitt definiert die Protokollierungskonfiguration für My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Auskommentierung des nachfolgenden Abschnitts aufheben, um in das Anwendungsereignisprotokoll zu schreiben -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Auskommentierung des nachfolgenden Abschnitts aufheben und APPLICATION_NAME durch den Namen der Anwendung ersetzen, um in das Anwendungsereignisprotokoll zu schreiben -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <CasparsPlayoutClient.My.MySettings>
            <setting name="oscPort" serializeAs="String">
                <value>6250</value>
            </setting>
            <setting name="defaultAcmpServer" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="deafaultAcmpPort" serializeAs="String">
                <value>5250</value>
            </setting>
            <setting name="loglevel" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="logfile" serializeAs="String">
                <value>log.txt</value>
            </setting>
            <setting name="frameTickInterval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="connectionTimeout" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="reconnectTries" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="reconnectTimout" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="strictVersionControl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="logToFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="logToConsole" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="logShowTime" serializeAs="String">
                <value>7000</value>
            </setting>
            <setting name="last_AcmpServer" serializeAs="String">
                <value />
            </setting>
            <setting name="last_AcmpPort" serializeAs="String">
                <value />
            </setting>
            <setting name="last_Library" serializeAs="String">
                <value />
            </setting>
            <setting name="last_Playlist" serializeAs="String">
                <value />
            </setting>
            <setting name="rememberLibrary" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rememberPlaylist" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="logdir" serializeAs="String">
                <value />
            </setting>
            <setting name="libdir" serializeAs="String">
                <value />
            </setting>
            <setting name="playlistdir" serializeAs="String">
                <value />
            </setting>
            <setting name="noWarnTime" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="warnTime" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="rememberConnection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="last_WindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="last_WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="last_WindowSize" serializeAs="String">
                <value>1024, 768</value>
            </setting>
            <setting name="last_PlaylistWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="last_LibraryWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="last_CGHeight" serializeAs="String">
                <value>500</value>
            </setting>
        </CasparsPlayoutClient.My.MySettings>
    </userSettings>
</configuration>
